* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #69510F;

.fivePage {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 1fr;

    .reviewPhoto {
        background-image: url(../svg/reviewPhotoSvgOfficial.svg);
        background-size: cover;
        background-position: center;
    }

    .review {
        position: relative;

        .boxBefore {
            height: 20%;
            width: 100%;
        }

        .titleBox {
            position: relative;
            width: 100%;
            height: 10%;

            .title {
                position: absolute;
                color: whitesmoke;
                text-align: center;
                font-size: 1rem;
                letter-spacing: 3px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-family: 'Rokkitt', serif;
                font-weight: 400;
            }

            .title::after {
                content: '';
                display: block;
                width: 30%;
                height: 1px;
                background-color: $main-color;
                margin: 0 auto;
            }
        }

        //                                                             SUBTITLE

        .subtitleBox {
            position: relative;
            width: 100%;
            height: 5%;

            .subtitle {
                position: absolute;
                color: whitesmoke;
                text-align: center;
                font-size: 0.6rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .nonActive {
            opacity: 0;
        }

        .commasBox {
            position: relative;
            width: 100%;
            height: 5%;

            .commas {
                position: absolute;
                color: $main-color;
                text-align: center;
                left: 50%;
                top: 20%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
            }
        }

        //                                                             OPINION

        .opinionBox {
            position: relative;
            width: 100%;
            height: 25%;

            
            .opinion {
                position: absolute;
                color: whitesmoke;
                text-align: center;
                font-size: 0.5rem;
                width: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        //                                                              NAME

        .nameBox {
            position: relative;
            width: 100%;
            height: 5%;
            
            .name {
                position: absolute;
                color: $main-color;
                text-align: center;
                // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                font-size: 0.7rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-weight: 400;
            }
        }

        
        .boxAfter {
            height: 10%;
            width: 100%;
        }

        .arrowBox {
            position: relative;
            width: 100%;
            height: 10%;

            .arrowDownFour {
                height: 22px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

        .arrowRightBox {
            position: absolute;
            height: 100%;
            width: 10%;
            top: 0;
            right: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;

            .arrowRight {
                height: 26px;
                cursor: pointer;
                position: absolute;
                right: 50%;
            }
        }

        
        .arrowLeftBox {
            position: absolute;
            height: 100%;
            width: 10%;
            top: 0;
            left: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;

            .arrowLeft {
                height: 26px;
                cursor: pointer;
                position: absolute;
                left: 50%;
            }
        }

        .dotsContainer {
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
}

//                                                            600px

@media (max-width: 600px) and (min-height: 0px) and (orientation: portrait) {
    .fivePage {
        .review {
            .boxBefore {
                height: 25% !important;
            } 
    
            .opinionBox {
                height: 25% !important;
            }
        }
    }
}

//                                                            600px

@media (max-width: 600px) and (min-height: 600px) and (orientation: portrait) {
    .fivePage {
        .review {
            .boxBefore {
                height: 30% !important;
            } 
    
            .opinionBox {
                height: 20% !important;
            }
        }
    }
}

@media (max-width: 600px) and (min-height: 700px) and (orientation: portrait) {
    .fivePage {
        .review {
            .boxBefore {
                height: 35% !important;
            } 
    
            .opinionBox {
                height: 15% !important;
            }
        }
    }
}

//                                                            600px

@media (min-width: 600px) and (orientation: portrait) {
    .fivePage {
        grid-template-rows: 40% 60%;

        .review {
            .boxBefore {
                height: 20% !important;
            }

            .titleBox {
                height: 10% !important;
    
                .title{
                    font-size: 1.4rem !important;
                }
            }
    
            .subtitleBox {
                height: 5% !important;

                .subtitle {
                    font-size: 0.8rem !important;
                }
            }
    
            .commasBox {
                height: 5% !important;

                .commas {
                    font-size: 2.6rem !important;
                }
            }
    
            .opinionBox {
                height: 25% !important;

                .opinion {
                    font-size: 0.6rem !important;
                    width: 35% !important;
                }
            }
    
            .nameBox {
                height: 5% !important;

                .name {
                    font-size: 1rem !important;
                }
            }

            .boxAfter {
                height: 10% !important;
            }
    
            .arrowRight {
                height: 36px !important;
                position: absolute;
                right: 50%;
            }
    
            .arrowLeft {
                height: 36px !important;
                position: absolute;
                left: 50%;
            }
    
            .arrowBox {
                height: 10% !important;
    
                .arrowDownFour {
                    height: 32px;
                }
            }
        }
    }
}

//                                                            800px

@media (min-width: 800px) and (orientation: portrait) {
    .fivePage {
        .review {
            .titleBox {
                .title{
                    font-size: 1.6rem !important;
                }
            }
    
            .subtitleBox {
                .subtitle {
                    font-size: 1rem !important;
                }
            }
    
            .commasBox {
                .commas {
                    font-size: 3rem !important;
                }
            }
    
            .opinionBox {
                .opinion {
                    font-size: 0.8rem !important;
                }
            }
    
            .nameBox {
                .name {
                    font-size: 1.2rem !important;
                }
            }
    
            .arrowRight {
                height: 46px !important;
            }
    
            .arrowLeft {
                height: 46px !important;

            }
    
            .arrowBox {
                .arrowDownFour {
                    height: 36px;
                }
            }
        }
    }
}

//                                                            1000px

@media (min-width: 1000px) and (orientation: portrait) {
    .fivePage {
        .review {
            .titleBox {
                .title{
                    font-size: 1.8rem !important;
                }
            }
    
            .subtitleBox {
                .subtitle {
                    font-size: 1.2rem !important;
                }
            }
    
            .commasBox {
                .commas {
                    font-size: 4rem !important;
                }
            }
    
            .opinionBox {
                .opinion {
                    font-size: 1rem !important;
                }
            }
    
            .nameBox {
                .name {
                    font-size: 1.4rem !important;
                }
            }
    
            .arrowRight {
                height: 52px !important;
            }
    
            .arrowLeft {
                height: 52px !important;

            }
    
            .arrowBox {
                .arrowDownFour {
                    height: 42px;
                }
            }
        }
    }
}

//                                                               1200px

@media (min-width: 1200px) {
    .fivePage {
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;

        .review {
            .boxBefore {
                height: 25% !important;
            }

            .titleBox {
                height: 10% !important;

                .title{
                    font-size: 2rem !important;
                }
            }
    
            .subtitleBox {
                height: 5% !important;

                .subtitle {
                    font-size: 1.4rem !important;
                }
            }
    
            .commasBox {
                height: 5% !important;

                .commas {
                    font-size: 3.8rem !important;
                }
            }
    
            .opinionBox {
                height: 20% !important;

                .opinion {
                    font-size: 1rem !important;
                    width: 40% !important;
                }
            }
    
            .nameBox {
                height: 5% !important;

                .name {
                    font-size: 1.4rem !important;
                }
            }

            .boxAfter {
                height: 20% !important;
            }
    
            .arrowRightBox {
                opacity: 0 !important;
                visibility: hidden !important;
                height: 0 !important;
            }
    
            .arrowLeftBox {
                opacity: 0 !important;
                visibility: hidden !important;
                height: 0 !important;
            }

            .dotsContainer {
                opacity: 1;
                visibility: visible;
                height: 20vh;
                width: 10vh;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                text-align: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);

                .dotContainer {
                    position: relative;

                    .dot {
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border: 2px solid $main-color;
                        border-radius: 50%;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                    }

                    .dot:hover {
                        background-color: $main-color;
                    }

                    .dotActive {
                        background-color: $main-color;
                    }

                    .dotNonActive {
                        background-color: unset;
                    }
                }
            }
    
            .arrowBox {
                height: 10% !important;
                position: absolute !important;
                left: -33.5% !important;
    
                .arrowDownFour {
                    height: 42px !important;
                }
            }
        }
    }
}

@media(min-width: 1600px) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 1.7rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 1.4rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 1.4rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 4rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 1rem !important;
                }
            }

                
            .arrowBox {
                .arrowDownFour {
                    height: 42px !important;
                }
            }
        }
    }
}

@media(min-width: 1900px) {
    .fivePage {
        .review {
            .boxBefore {
                height: 30% !important;
            }

            .titleBox {
                .title {
                    font-size: 2rem !important;
                }

                .title::After {
                    height: 2px;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 1.4rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 1.4rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 4rem !important;
                }
            }

            .opinionBox {
                height: 15% !important;
                .opinion {
                    font-size: 1rem !important;
                }
            }

                
            .arrowBox {
                .arrowDownFour {
                    height: 42px !important;
                }
            }
        }
    }
}

//                                                                   2400px

@media(min-width: 2400px) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 2.8rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 1.8rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 2rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 5rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 1.4rem !important;
                }
            }

                
            .arrowBox {
                .arrowDownFour {
                    height: 62px !important;
                }
            }
        }
    }
}

//                                                                   3200px

@media(min-width: 3200px) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 4.2rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 2.2rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 2.6rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 7rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 1.9rem !important;
                }
            }

            .dotsContainer {
                .dotContainer {
                    .dot {
                        height: 20px !important;
                        width: 20px !important;
                    }
                }
            }

            .arrowBox {
                .arrowDownFour {
                    height: 72px !important;
                }
            }
        }
    }
}

//                                                                   3800px

@media(min-width: 3800px) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 5.2rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 3rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 3.2rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 9rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 2.3rem !important;
                }
            }

            .dotsContainer {
                .dotContainer {
                    .dot {
                        height: 25px !important;
                        width: 25px !important;
                    }
                }
            }

            .arrowBox {
                .arrowDownFour {
                    height: 82px !important;
                }
            }
        }
    }
}

// orientation: landscape

@media screen and (min-width: 0) and (max-width: 1200px) and (orientation: landscape) {
    .fivePage {
        grid-template-rows: 40% 60%;
        .review {
            .boxBefore {
                height: 15% !important;
            }

            .titleBox {
                height: 10% !important;
                .title {
                    font-size: 0.8rem !important;
                }
            }

            .subtitleBox {
                height: 10% !important;
                .subtitle {
                    font-size: 0.5rem !important;
                }
            }

            .nameBox {
                height: 5% !important;
                .name {
                    font-size: 0.6rem !important;
                }
            }

            .commasBox {
                height: 5% !important;
                .commas {
                    font-size: 1.6rem !important;
                }
            }

            .opinionBox {
                height: 30% !important;
                .opinion {
                    font-size: 0.4rem !important;
                }
            }

            .boxAfter {
                height: 10% !important;
            }

            .arrowRight {
                position: absolute;
                right: 50%;
            }

            .arrowLeft {
                position: absolute;
                left: 50%;
            }

            .arrowBox {
                height: 15% !important;

                .arrowDownFour {
                    height: 22px !important;
                }
            }
        }
    }
}

// orientation: landscape 800px

@media screen and (min-width: 800px) and (max-width: 1200px) and (orientation: landscape) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 1.1rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 0.6rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 0.6rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 2.2rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 0.5rem !important;
                    width: 30% !important;
                }
            }

            
            .arrowRight {
                height: 32px !important;
            }

            .arrowLeft {
                height: 32px !important;
            }

            .arrowBox {
                .arrowDownFour {
                    height: 26px !important;
                }
            }
        }
    }
}

// orientation: landscape 1000px

@media screen and (min-width: 1000px) and (max-width: 1200px) and (orientation: landscape) {
    .fivePage {
        .review {
            .titleBox {
                .title {
                    font-size: 1.4rem !important;
                }
            }

            .subtitleBox {
                .subtitle {
                    font-size: 0.8rem !important;
                }
            }

            .nameBox {
                .name {
                    font-size: 1rem !important;
                }
            }

            .commasBox {
                .commas {
                    font-size: 2.6rem !important;
                }
            }

            .opinionBox {
                .opinion {
                    font-size: 0.6rem !important;
                    width: 40% !important;
                }
            }

            .arrowRight {
                height: 36px !important;
            }

            .arrowLeft {
                height: 36px !important;
            }

            .arrowBox {
                .arrowDownFour {
                    height: 28px !important;
                }
            }
        }
    }
}