* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #69510F;

.galleryPage {
    background-color: black;

    
    .galleryBarOne {
        height: 130vh;
        width: 1px;
        background-color: $main-color;
        position: absolute;
        top: 0;
        left: 30%;
    }

    .galleryBarTwo {
        height: 130vh;
        width: 1px;
        background-color: $main-color;
        position: absolute;
        top: 0;
        right: 30%;
    }

    .galleryBarThree {
        height: 1px;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        top: 25%;
    }

    .titleContainer {
        position: relative;
        height: 15vh;
        width: 100%;

        .arrowBackContainer {
            position: absolute;
            height: 100%;
            width: 20%;

            .arrowBack {
                height: 22px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .centerContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                color: $main-color;
                text-align: center;
                font-size: 0.6rem;
                font-family: 'Rokkitt', serif;
                font-weight: 400;
            }
    
            h1 {
                color: whitesmoke;
                text-align: center;
                font-size: 1rem;
                font-family: 'Rokkitt', serif;
                font-weight: 400;
            }
        }
    }

    .galleryPageContainer {
        height: 100vh;
        width: 100%;

        //                                                                              FIRST CONTAINER

        .containerOne {
            position: relative;
            height: 16%;
            width: 100%;
            display: grid;
            grid-template-columns: 17% 17% 17% 34%;
            grid-template-rows: 1fr;
            padding-left: 5%;
            padding-right: 5%;
            grid-gap: 5%;

            .photoOneContainer {
                position: relative;
                
                .photoOne {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery1.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoTwoContainer {
                position: relative;

                .photoTwo {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery2.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoThreeContainer {
                position: relative;

                .photoThree {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery3.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoFourContainer {
                position: relative;

                .photoFour {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery4.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        //                                                                          SECOND CONTAINER

        .containerTwo {
            position: relative;
            top: 5%;
            height: 16%;
            width: 100%;
            display: grid;
            grid-template-columns: 17% 34% 17% 17%;
            grid-template-rows: 1fr;
            padding-left: 5%;
            padding-right: 5%;
            grid-gap: 5%;

            .photoFiveContainer {
                position: relative;
                
                .photoFive {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery5.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoSixContainer {
                position: relative;

                .photoSix {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery6.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoSevenContainer {
                position: relative;

                .photoSeven {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery7.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .photoEightContainer {
                position: relative;

                .photoEight {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery8.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        //                                                                          THIRD CONTAINER

        .containerThree {
            position: relative;
            top: 10%;
            height: 16%;
            width: 100%;
            display: grid;
            grid-template-columns: 17% 34% 17% 17%;
            grid-template-rows: 1fr;
            padding-left: 5%;
            padding-right: 5%;
            grid-gap: 5%;
        
            .photoNineContainer {
                position: relative;
                        
                .photoNine {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery9.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        
            .photoTenContainer {
                position: relative;
        
                .photoTen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/bigger10.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        
            .photoElevenContainer {
                position: relative;
        
                .photoEleven {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery11.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        
            .photoTwelveContainer {
                position: relative;
        
                .photoTwelve {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery12.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    
        //                                                                          FOURTH CONTAINER

        .containerFour {
            position: relative;
            top: 15%;
            height: 16%;
            width: 100%;
            display: grid;
            grid-template-columns: 17% 34% 17% 17%;
            grid-template-rows: 1fr;
            padding-left: 5%;
            padding-right: 5%;
            grid-gap: 5%;
                
            .photoThirteenContainer {
                position: relative;
                                
                .photoThirteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery13.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoFourteenContainer {
                position: relative;
                
                .photoFourteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery14.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoFifteenContainer {
                position: relative;
                
                .photoFifteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery15.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoSixteenContainer {
                position: relative;
                
                .photoSixteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery16.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        //                                                                          FIFTH CONTAINER

        .containerFive {
            position: relative;
            top: 20%;
            height: 16%;
            width: 100%;
            display: grid;
            grid-template-columns: 34% 17% 17% 17%;
            grid-template-rows: 1fr;
            padding-left: 5%;
            padding-right: 5%;
            grid-gap: 5%;
                
            .photoSeventeenContainer {
                position: relative;
                                
                .photoSeventeen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery18.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoEighteenContainer {
                position: relative;
                
                .photoEighteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery17.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoNineteenContainer {
                position: relative;
                
                .photoNineteen {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery19.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
                
            .photoTwentyContainer {
                position: relative;
                
                .photoTwenty {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url(../svg/gallery/gallery20.svg);
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .arrowDownBox {
            position: relative;
            height: 15vh;
            width: 100%;

            .arrowDownGallery {
                height: 22px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }




    @media(min-width: 400px) and (orientation: portrait) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 26px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 0.8rem;
                    }
            
                    h1 {
                        font-size: 1.2rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 26px;
                }
            }
        }
    }

    @media(min-width: 600px) and (orientation: portrait) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 32px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 0.9rem;
                    }
            
                    h1 {
                        font-size: 1.2rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 32px;
                }
            }
        }
    }

    @media(min-width: 800px) and (orientation: portrait) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 36px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.2rem;
                    }
            
                    h1 {
                        font-size: 1.6rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 36px;
                }
            }
        }
    }

    @media(min-width: 1000px) and (orientation: portrait) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 42px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.4rem;
                    }
            
                    h1 {
                        font-size: 2rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 42px;
                }
            }
        }
    }

    @media(min-width: 1400px) and (orientation: portrait) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 46px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.8rem;
                    }
            
                    h1 {
                        font-size: 2.4rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 46px;
                }
            }
        }
    }

    // orientation: landscape

    @media(min-width: 0) and (orientation: landscape) {
        .galleryPage {

            .galleryBarOne {
                height: 270vh;
            }

            .galleryBarTwo {
                height: 270vh;
            }

            .titleContainer {
                height: 30vh;
                .arrowBackContainer {
                    .arrowBack {
                        height: 22px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 0.6rem;
                    }
            
                    h1 {
                        font-size: 1rem;
                    }
                }
            }

            .galleryPageContainer {
                height: 200vh;
            }

            .arrowDownBox {
                height: 40vh;
                .arrowDownGallery {
                    height: 22px;
                }
            }
        }
    }

    @media(min-width: 700px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 32px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 0.8rem;
                    }
            
                    h1 {
                        font-size: 1.4rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 32px;
                }
            }
        }
    }

    @media(min-width: 1000px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 38px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.2rem;
                    }
            
                    h1 {
                        font-size: 1.8rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 38px;
                }
            }
        }
    }

    @media(min-width: 1300px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 42px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.2rem;
                    }
            
                    h1 {
                        font-size: 2rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 42px;
                }
            }
        }
    }

    @media(min-width: 1600px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 48px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 1.8rem;
                    }
            
                    h1 {
                        font-size: 2.6rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 48px;
                }
            }
        }
    }

    @media(min-width: 1900px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 56px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 2rem;
                    }
            
                    h1 {
                        font-size: 2.8rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 56px;
                }
            }
        }
    }

    @media(min-width: 2400px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 68px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 2.4rem;
                    }
            
                    h1 {
                        font-size: 3.6rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 68px;
                }
            }
        }
    }

    @media(min-width: 2900px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 76px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 2.6rem;
                    }
            
                    h1 {
                        font-size: 4rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 76px;
                }
            }
        }
    }

    @media(min-width: 3200px) and (orientation: landscape) {
        .galleryPage {
            .galleryBarOne {
                width: 2px;
            }
        
            .galleryBarTwo {
                width: 2px;;
            }

            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 82px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 2.8rem;
                    }
            
                    h1 {
                        font-size: 4.2rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 82px;
                }
            }
        }
    }

    @media(min-width: 3600px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 92px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 3.2rem;
                    }
            
                    h1 {
                        font-size: 4.6rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 92px;
                }
            }
        }
    }

    @media(min-width: 3800px) and (orientation: landscape) {
        .galleryPage {
            .titleContainer {
                .arrowBackContainer {
                    .arrowBack {
                        height: 102px;
                    }
                }
        
                .centerContainer {
                    h2 {
                        font-size: 3.2rem;
                    }
            
                    h1 {
                        font-size: 4.8rem;
                    }
                }
            }

            .arrowDownBox {
                .arrowDownGallery {
                    height: 102px;
                }
            }
        }
    }