* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secondPage {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;

    .secondPageText {
        width: 80%;
        color: white;
        font-size: 0.6rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
        

        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
    }

    .arrowDownTwo {
        height: 22px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}

//                                                                400px

@media (min-width: 400px) and (max-width: 1200px) and (orientation: portrait) {
    .secondPage {
        .secondPageText {
            width: 90%;
            font-size: 0.8rem;
        }

        
        .arrowDown {
            height: 26px;
        }
    }
}

//                                                                600px

@media (min-width: 600px) and (max-width: 1200px) and (orientation: portrait) {
    .secondPage {
        .secondPageText {
            width: 70%;
            font-size: 1.2rem;
        }

        .arrowDownTwo {
            height: 36px;
        }
    }
}

//                                                                800px

@media (min-width: 800px) and (max-width: 1200px) and (orientation: portrait) {
    .secondPage {
        .secondPageText {
            width: 70%;
            font-size: 1.4rem;
        }

        .arrowDownTwo {
            height: 42px !important;
        }
    }
}

@media (min-width: 1000px) and (max-width: 1200px) and (orientation: portrait) {
    .secondPage {
        .secondPageText {
            width: 70%;
            font-size: 1.6rem;
        }

        .arrowDownTwo {
            height: 46px !important;
        }
    }
}

// @media (min-width: 1200px) and (orientation: portrait) {
//     .secondPage {
//         .secondPageText {
//             width: 70%;
//             font-size: 1.2rem;
//         }

//         .arrowDownTwo {
//             height: 36px !important;
//         }
//     }
// }

//                                                               1200px

@media (min-width: 1200px) {
    .secondPage {
        .secondPageText {
            opacity: 0;
            visibility: hidden;
        }

        .secondPageTextTwo {
            opacity: 1 !important;
            visibility: visible !important;
            width: 80% !important;
            color: white !important;
            font-size: 1.2rem !important;
            position: absolute !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
            text-align: center;
            font-family: 'Noto Sans', sans-serif;
            
    
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
        }

        .arrowDownTwo {
            height: 36px !important;
        }
    }
}

//                                                               1600px

@media (min-width: 1600px) {
    .secondPage {
        .secondPageTextTwo {
            font-size: 1.4rem !important;
        }

        .arrowDownTwo {
            height: 42px !important;
        }
    }
}

//                                                               1900px

@media (min-width: 1900px) {
    .secondPage {
        .secondPageTextTwo {
            font-size: 1.6rem !important;
        }

        .arrowDownTwo {
            height: 48px !important;
        }
    }
}

//                                                               2400px

@media (min-width: 2400px) {
    .secondPage {
        .secondPageTextTwo {
            font-size: 2rem !important;
        }

        .arrowDownTwo {
            height: 62px !important;
        }
    }
}

//                                                               3200px

@media (min-width: 3200px) {
    .secondPage {
        .secondPageTextTwo {
            font-size: 2.2rem !important;
        }

        .arrowDownTwo {
            height: 72px !important;
        }
    }
}

//                                                               3800px

@media (min-width: 3800px) {
    .secondPage {
        .secondPageTextTwo {
            font-size: 2.4rem;
        }

        .arrowDownTwo {
            height: 82px !important;
        }
    }
}

// orientation: landscape 400px

@media (min-width: 400px) and (orientation: landscape) {
    .secondPage {
        .secondPageTextTwo {
            height: 0;
            width: 0;
            opacity: 0;
            visibility: hidden;
        }

        .secondPageText {
            width: 50%;
            font-size: 0.6rem !important;
        }

        .arrowDownTwo {
            height: 22px;
        }
    }
}

// orientation landscape 600px

@media (min-width: 600px) and (orientation: landscape) {
    .secondPage {
        .secondPageText {
            font-size: 0.7rem !important;
        }

        .arrowDownTwo {
            height: 24px;
        }
    }
}

// orientation landscape 800px

@media (min-width: 800px) and (orientation: landscape) {
    .secondPage {
        .secondPageText {
            font-size: 0.8rem !important;
        }

        .arrowDownTwo {
            height: 24px;
        }
    }
}

// orientation: landscape 1000px

@media (min-width: 1000px) and (orientation: landscape) {
    .secondPage {
        .secondPageText {
            font-size: 1rem;
        }

        .arrowDownTwo {
            height: 26px;
        }
    }
}