* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #69510F;

.thirdPage {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .containerOne {
        position: relative;

        .containerInsideOne {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            img {
                height: 52px;
                display: block;
                margin: 0 auto;
            }
    
            h1 {
                text-align: center;
                color: $main-color;
                font-size: 0.8rem;
                padding: 5%;
                font-family: 'Bitter', serif;
                font-weight: 400;
                letter-spacing: 1px;
            }
    
            p {
                color: whitesmoke;
                text-align: center;
                font-size: 0.6rem;
                font-family: 'Bitter', serif;
                font-weight: 400;
            }
        }
    }

    .containerTwo {
        position: relative;

        .containerInsideTwo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            img {
                height: 52px;
                display: block;
                margin: 0 auto;
            }
    
            h1 {
                text-align: center;
                color: $main-color;
                font-size: 0.8rem;
                padding: 5%;
                font-family: 'Bitter', serif;
                font-weight: 400;
                letter-spacing: 1px;
            }
    
            p {
                color: whitesmoke;
                text-align: center;
                font-size: 0.6rem;
                font-family: 'Bitter', serif;
                font-weight: 400;
            }
        }
    }
}

//                                           400px

@media (min-width: 400px) and (orientation: portrait) {
    .thirdPage {
        .containerOne{
            .containerInsideOne {
                img {
                    height: 52px;
                }

                h1 {
                    font-size: 0.8rem;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 52px;
                }

                h1 {
                    font-size: 0.8rem;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

//                                                          600px


@media (min-width: 600px) and (orientation: portrait) {
    .thirdPage {
        .containerOne{
            .containerInsideOne {
                img {
                    height: 82px;
                }

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 82px;
                }

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

//                                                          800px


@media (min-width: 800px) and (orientation: portrait) {
    .thirdPage {
        .containerOne{
            .containerInsideOne {
                img {
                    height: 96px;
                }

                h1 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 96px;
                }

                h1 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }
    }
}

//                                                           1200px

@media (min-width: 1200px) {
    .thirdPage {
        width: 50% !important;

        .containerOne {
            .containerInsideOne {
                img {
                    height: 82px;
                }

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 82px
                }

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.9rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }

        .barOne {
            position: absolute;
            height: 70vh;
            width: 1px;
            background-color: $main-color;
            right: 50%;
        }

        .barTwo {
            position: absolute;
            height: 1px;
            width: 35vw;
            background-color: $main-color;
            z-index: 3;
            top: 250%;
            left: 25%;
        }

        .aboutArrow {
            height: 42px !important;
        }
    }
}

//                                                           1600px

@media (min-width: 1600px) {
    .thirdPage {
        .containerOne {
            .containerInsideOne {
                img {
                    height: 92px;
                }

                h1 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 0.9rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 92px
                }

                h1 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 0.9rem;
                    width: 75%;
                    transform: translateX(17.5%);
                }
            }
        }
    }
}

//                                                           1900px

@media (min-width: 1900px) {
    .thirdPage {
        .containerOne {
            .containerInsideOne {
                img {
                    height: 136px;
                }

                h1 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 136px;
                }

                h1 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

//                                                           2600px

@media (min-width: 2600px) {
    .thirdPage {
        .containerOne {
            .containerInsideOne {
                img {
                    height: 142px;
                }

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 142px;
                }

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

//                                                           3200px

@media (min-width: 3200px) {
    .thirdPage {
        .containerOne {
            .containerInsideOne {
                img {
                    height: 192px;
                }

                h1 {
                    font-size: 2.6rem;
                }

                p {
                    font-size: 1.8rem;
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 192px;
                }

                h1 {
                    font-size: 2.6rem;
                }

                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

//                                                           3800px

@media (min-width: 3800px) {
    .thirdPage {
        .containerOne {
            .containerInsideOne {
                img {
                    height: 250px;
                }

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 2.2rem;
                }
            }
        }

        .containerTwo {
            .containerInsideTwo {
                img {
                    height: 250px;
                }

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 2.2rem;
                }
            }
        }

        .barOne {
            width: 2px !important;
        }

        .barTwo {
            height: 2.5px !important;
        }
    }
}

// orientation: landscape

@media (min-width: 0) and (max-width: 1200px) and (orientation: landscape) {
    .thirdPage {
        height: 125vh;
        .containerOne{
            .containerInsideOne {
                img {
                    height: 20%;
                    width: 20%;
                }

                h1 {
                    font-size: 0.7rem;
                    font-weight: 400;
                }

                p {
                    font-size: 0.5rem;
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 20%;
                    width: 20%;
                }

                h1 {
                    font-size: 0.7rem;
                    font-weight: 400;
                }

                p {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

// orientation: landscape 700px

@media (min-width: 700px) and (max-width: 1200px) and (orientation: landscape) {
    .thirdPage {
        height: 125vh;
        .containerOne{
            .containerInsideOne {
                img {
                    height: 15%;
                    width: 15%;
                }

                h1 {
                    font-size: 0.8rem;
                    font-weight: 400;
                }

                p {
                    font-size: 0.5rem;
                    width: 50%;
                    transform: translateX(50%);
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 15%;
                    width: 15%;
                }

                h1 {
                    font-size: 0.8rem;
                    font-weight: 400;
                }

                p {
                    font-size: 0.5rem;
                    width: 50%;
                    transform: translateX(50%);
                }
            }
        }
    }
}


// orientation: landscape 1000px

@media (min-width: 1000px) and (max-width: 1200px) and (orientation: landscape) {
    .thirdPage {
        .containerOne{
            .containerInsideOne {
                img {
                    height: 13%;
                    width: 13%;
                }

                h1 {
                    font-size: 1rem;
                    padding: 2.5%;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }

        .containerTwo{
            .containerInsideTwo {
                img {
                    height: 13%;
                    width: 13%;
                }

                h1 {
                    font-size: 1rem;
                    padding: 2.5%;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }
    }
}